html, body {
    overflow: hidden;
    height: 100%;
}

.body {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	background-color: #121212;
	margin: 0 auto;
}

.app {
	width: 30%;
	border: 6px double #ffffff;
	padding: 20px;
	text-align: center;
	color: #ffffff;
	margin: 20px;
}

.image {
	width: 50%;
	padding: 20px;
	margin: 0 auto;
	background-color: #ffffff;
	border: 6px double #121212;
}

.img {
	width: 100%;
}

.title {
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.chuck {
	font-size: 30px;
}

.btn {
	padding: 10px;
	text-transform: uppercase;
	font-weight: bold;
	background-color: #ffffff;
	border: 6px double #121212;
}

.btn:focus {
	outline: none;
}

.btn:hover {
	background-color: #121212;
	color: #ffffff;
	border: 6px double #ffffff;
}

@media (max-width: 1300px) {

	.app {
		width: 40%;
	}

}

@media (max-width: 1000px) {

	.app {
		width: 50%;
	}

}

@media (max-width: 650px) {

	.app {
		width: 60%;
	}

}

@media (max-width: 450px) {

	.app {
		width: 90%;
	}

	.chuck {
	font-size: 25px;
	}

}